{{- /* You can add your own layouts/comments.html to override this file */ -}}

{{- $cfg := site.Params.commentSystems.giscus -}}
{{- if and $cfg.repo $cfg.repo_id $cfg.category $cfg.category_id -}}
  <div id="comments">
    <script src="{{ $cfg.endpoint | default "https://giscus.app/client.js"}}"
            data-repo="{{ $cfg.repo }}"
            data-repo-id="{{ $cfg.repo_id }}"
            data-category="{{ $cfg.category }}"
            data-category-id="{{ $cfg.category_id }}"
            data-mapping="{{ $cfg.mapping | default "pathname" }}"
            data-strict="{{ cond $cfg.strict_matching "1" "0" }}"
            data-reactions-enabled="{{ cond $cfg.reactions "1" "0" }}"
            data-input-position="{{ $cfg.input_position | default "top" }}"
            data-theme="{{ $cfg.theme | default "light" }}"
            data-lang="{{ index $cfg.languages_mapping .Site.Language.Lang | default .Site.Language.Lang }}"
            {{ if $cfg.lazy_loading }}loading="lazy"{{ end }}
            crossorigin="anonymous"
            async>
    </script>
  </div>
{{- end -}}
